# coding: utf-8

"""
    DoorLoop API Reference

    It does some pretty cool stuff and gives you complete access to DoorLoop's data  # noqa: E501

    OpenAPI spec version: 1.0
    Contact: support@doorloop.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class ReportsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_reports_balance_sheet(self, filter_accounting_method, **kwargs):  # noqa: E501
        """Balance Sheet  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_reports_balance_sheet(filter_accounting_method, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object filter_accounting_method: Cash / Accrual (required)
        :param object filter_group: Filter by Portfolio Id
        :param object filter_property: Filter by Property Id
        :param object filter_property_owner: Filter by Owner Id
        :param object filter_date_from: Format: YYYY-MM-DD
        :param object filter_date_to: Format: YYYY-MM-DD
        :return: ProfitAndLossReportItem
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_reports_balance_sheet_with_http_info(filter_accounting_method, **kwargs)  # noqa: E501
        else:
            (data) = self.get_reports_balance_sheet_with_http_info(filter_accounting_method, **kwargs)  # noqa: E501
            return data

    def get_reports_balance_sheet_with_http_info(self, filter_accounting_method, **kwargs):  # noqa: E501
        """Balance Sheet  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_reports_balance_sheet_with_http_info(filter_accounting_method, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object filter_accounting_method: Cash / Accrual (required)
        :param object filter_group: Filter by Portfolio Id
        :param object filter_property: Filter by Property Id
        :param object filter_property_owner: Filter by Owner Id
        :param object filter_date_from: Format: YYYY-MM-DD
        :param object filter_date_to: Format: YYYY-MM-DD
        :return: ProfitAndLossReportItem
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['filter_accounting_method', 'filter_group', 'filter_property', 'filter_property_owner', 'filter_date_from', 'filter_date_to']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_reports_balance_sheet" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'filter_accounting_method' is set
        if ('filter_accounting_method' not in params or
                params['filter_accounting_method'] is None):
            raise ValueError("Missing the required parameter `filter_accounting_method` when calling `get_reports_balance_sheet`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'filter_group' in params:
            query_params.append(('filter_group', params['filter_group']))  # noqa: E501
        if 'filter_property' in params:
            query_params.append(('filter_property', params['filter_property']))  # noqa: E501
        if 'filter_property_owner' in params:
            query_params.append(('filter_propertyOwner', params['filter_property_owner']))  # noqa: E501
        if 'filter_accounting_method' in params:
            query_params.append(('filter_accountingMethod', params['filter_accounting_method']))  # noqa: E501
        if 'filter_date_from' in params:
            query_params.append(('filter_date_from', params['filter_date_from']))  # noqa: E501
        if 'filter_date_to' in params:
            query_params.append(('filter_date_to', params['filter_date_to']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['Key']  # noqa: E501

        return self.api_client.call_api(
            '/reports/balance-sheet-summary', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ProfitAndLossReportItem',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_reports_cash_flow_statement(self, filter_accounting_method, **kwargs):  # noqa: E501
        """Cash Flow Statement  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_reports_cash_flow_statement(filter_accounting_method, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object filter_accounting_method: Cash / Accrual (required)
        :param object filter_group: Filter by Portfolio Id
        :param object filter_property: Filter by Property Id
        :param object filter_property_owner: Filter by Owner Id
        :param object filter_date_from: Format: YYYY-MM-DD
        :param object filter_date_to: Format: YYYY-MM-DD
        :return: ProfitAndLossReportItem
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_reports_cash_flow_statement_with_http_info(filter_accounting_method, **kwargs)  # noqa: E501
        else:
            (data) = self.get_reports_cash_flow_statement_with_http_info(filter_accounting_method, **kwargs)  # noqa: E501
            return data

    def get_reports_cash_flow_statement_with_http_info(self, filter_accounting_method, **kwargs):  # noqa: E501
        """Cash Flow Statement  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_reports_cash_flow_statement_with_http_info(filter_accounting_method, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object filter_accounting_method: Cash / Accrual (required)
        :param object filter_group: Filter by Portfolio Id
        :param object filter_property: Filter by Property Id
        :param object filter_property_owner: Filter by Owner Id
        :param object filter_date_from: Format: YYYY-MM-DD
        :param object filter_date_to: Format: YYYY-MM-DD
        :return: ProfitAndLossReportItem
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['filter_accounting_method', 'filter_group', 'filter_property', 'filter_property_owner', 'filter_date_from', 'filter_date_to']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_reports_cash_flow_statement" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'filter_accounting_method' is set
        if ('filter_accounting_method' not in params or
                params['filter_accounting_method'] is None):
            raise ValueError("Missing the required parameter `filter_accounting_method` when calling `get_reports_cash_flow_statement`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'filter_group' in params:
            query_params.append(('filter_group', params['filter_group']))  # noqa: E501
        if 'filter_property' in params:
            query_params.append(('filter_property', params['filter_property']))  # noqa: E501
        if 'filter_property_owner' in params:
            query_params.append(('filter_propertyOwner', params['filter_property_owner']))  # noqa: E501
        if 'filter_accounting_method' in params:
            query_params.append(('filter_accountingMethod', params['filter_accounting_method']))  # noqa: E501
        if 'filter_date_from' in params:
            query_params.append(('filter_date_from', params['filter_date_from']))  # noqa: E501
        if 'filter_date_to' in params:
            query_params.append(('filter_date_to', params['filter_date_to']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['Key']  # noqa: E501

        return self.api_client.call_api(
            '/reports/cash-flow-statement', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ProfitAndLossReportItem',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_reports_profit_and_loss(self, filter_accounting_method, **kwargs):  # noqa: E501
        """Profit & Loss  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_reports_profit_and_loss(filter_accounting_method, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object filter_accounting_method: Cash / Accrual (required)
        :param object filter_group: Filter by Portfolio Id
        :param object filter_property: Filter by Property Id
        :param object filter_property_owner: Filter by Owner Id
        :param object filter_date_from: Format: YYYY-MM-DD
        :param object filter_date_to: Format: YYYY-MM-DD
        :return: ProfitAndLossReportItem
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_reports_profit_and_loss_with_http_info(filter_accounting_method, **kwargs)  # noqa: E501
        else:
            (data) = self.get_reports_profit_and_loss_with_http_info(filter_accounting_method, **kwargs)  # noqa: E501
            return data

    def get_reports_profit_and_loss_with_http_info(self, filter_accounting_method, **kwargs):  # noqa: E501
        """Profit & Loss  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_reports_profit_and_loss_with_http_info(filter_accounting_method, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object filter_accounting_method: Cash / Accrual (required)
        :param object filter_group: Filter by Portfolio Id
        :param object filter_property: Filter by Property Id
        :param object filter_property_owner: Filter by Owner Id
        :param object filter_date_from: Format: YYYY-MM-DD
        :param object filter_date_to: Format: YYYY-MM-DD
        :return: ProfitAndLossReportItem
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['filter_accounting_method', 'filter_group', 'filter_property', 'filter_property_owner', 'filter_date_from', 'filter_date_to']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_reports_profit_and_loss" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'filter_accounting_method' is set
        if ('filter_accounting_method' not in params or
                params['filter_accounting_method'] is None):
            raise ValueError("Missing the required parameter `filter_accounting_method` when calling `get_reports_profit_and_loss`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'filter_group' in params:
            query_params.append(('filter_group', params['filter_group']))  # noqa: E501
        if 'filter_property' in params:
            query_params.append(('filter_property', params['filter_property']))  # noqa: E501
        if 'filter_property_owner' in params:
            query_params.append(('filter_propertyOwner', params['filter_property_owner']))  # noqa: E501
        if 'filter_accounting_method' in params:
            query_params.append(('filter_accountingMethod', params['filter_accounting_method']))  # noqa: E501
        if 'filter_date_from' in params:
            query_params.append(('filter_date_from', params['filter_date_from']))  # noqa: E501
        if 'filter_date_to' in params:
            query_params.append(('filter_date_to', params['filter_date_to']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['Key']  # noqa: E501

        return self.api_client.call_api(
            '/reports/profit-and-loss-summary', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ProfitAndLossReportItem',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_reports_rent_roll(self, **kwargs):  # noqa: E501
        """Rent Roll  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_reports_rent_roll(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object filter_group: Filter by Portfolio Id
        :param object filter_property: Filter by Property Id
        :param object filter_owner: Filter by Owner Id
        :param object filter_as_of_date: Format: YYYY-MM-DD
        :return: InlineResponse20016
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_reports_rent_roll_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_reports_rent_roll_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_reports_rent_roll_with_http_info(self, **kwargs):  # noqa: E501
        """Rent Roll  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_reports_rent_roll_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object filter_group: Filter by Portfolio Id
        :param object filter_property: Filter by Property Id
        :param object filter_owner: Filter by Owner Id
        :param object filter_as_of_date: Format: YYYY-MM-DD
        :return: InlineResponse20016
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['filter_group', 'filter_property', 'filter_owner', 'filter_as_of_date']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_reports_rent_roll" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'filter_group' in params:
            query_params.append(('filter_group', params['filter_group']))  # noqa: E501
        if 'filter_property' in params:
            query_params.append(('filter_property', params['filter_property']))  # noqa: E501
        if 'filter_owner' in params:
            query_params.append(('filter_owner', params['filter_owner']))  # noqa: E501
        if 'filter_as_of_date' in params:
            query_params.append(('filter_asOfDate', params['filter_as_of_date']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['Key']  # noqa: E501

        return self.api_client.call_api(
            '/reports/rent-roll', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20016',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
